.Bventas{
    flex-direction:row;
    display: flex;
    flex-shrink: 0;
    min-width: 0;
    max-width: 100%;
    box-sizing: border-box;
    overflow-anchor: none;
    z-index: 1;
    position: relative;
    min-height: inherit;
    width: 520px;
    margin-top: 10px;
    margin-left: 10px;
}
.data{
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
}