<section class="container-pattern">
    <div class="card bg-transparent border-0">
        <div class="mt-2 card-header text-center bg-transparent border-0 pt-4">
            <span class="fs-4  fw-bold ls-tight font-spacebook">
                Ingresa tus Datos <br />
            </span>
        </div>
        <div class="card-body px-md-3 bg-transparent">
            <form [formGroup]="form" (ngSubmit)="onSubmit()"
                class="form d-flex flex-column bg-white p-3 gap-2 bg-transparent">
                <div class="row row-cols-2">
                    <div class="container-form">
                        <div class="flex-column black-text">
                            <label class="fw-medium mb-1">Título</label>
                        </div>
                        <div class="inputForm">
                            <i class="bi bi-image-fill"></i>
                            <input placeholder="Ingresa el título" class="input" type="text" autocomplete="off"
                                formControlName="titulo">
                        </div>
                        @if (titulo.invalid && (titulo.dirty || titulo.touched)) {
                            <span class="form-alert">Campo requerido</span>
                        }
                    </div>
                    <div class="container-form">
                        <div class="flex-column black-text">
                            <label class="fw-medium mb-1">Tipo</label>
                        </div>
                        <div class="inputForm">
                            <i class="bi bi-list-task"></i>
                            <select formControlName="tipo" class="input">
                                <option value="" disabled selected>Seleccione</option>
                                @for (item of list; track $index) {
                                    <option [value]="item.id">{{item.descripcion}}</option>
                                }
                            </select>
                        </div>
                        @if (tipo.invalid && (tipo.dirty || tipo.touched)) {
                            <span class="form-alert">Campo requerido</span>
                        }
                    </div>
                </div>

                <div class="row row-cols-2 mt-3">
                    <div class="container-form">
                        <div class="flex-column black-text">
                            <label class="fw-medium mb-1">Fecha Creación</label>
                        </div>
                        <div class="inputForm">
                            <i class="bi bi-calendar-minus-fill"></i>
                            <input class="input me-2" type="date" autocomplete="off" formControlName="fechaCreacion">
                        </div>
                        @if (fechaCreacion.invalid && (fechaCreacion.dirty || fechaCreacion.touched)) {
                        <span class="form-alert">Campo requerido</span>
                        }
                    </div>
                    <div class="container-form">
                        <div class="flex-column black-text">
                            <label class="fw-medium mb-1">Precio</label>
                        </div>
                        <div class="inputForm">
                            <i class="bi bi-currency-dollar"></i>
                            <input class="input" type="number" autocomplete="off" formControlName="precio">
                        </div>
                        @if (precio.invalid && (precio.dirty || precio.touched)) {
                        <span class="form-alert">Campo requerido</span>
                        }
                    </div>
                </div>

                <div class="row row-cols-2 mt-3">
                    <div class="container-form">
                        <div class="flex-column black-text">
                            <label class="fw-medium mb-1">Técnica</label>
                        </div>
                        <div class="inputForm">
                            <i class="bi bi-highlights"></i>
                            <input class="input" type="text" placeholder="Ingrese la técnica" autocomplete="off" formControlName="tecnica">
                        </div>
                        @if (tecnica.invalid && (tecnica.dirty || tecnica.touched)) {
                        <span class="form-alert">Campo requerido</span>
                        }
                    </div>
                    <div class="container-form">
                        <div class="flex-column black-text">
                            <label class="fw-medium mb-1">Imagen</label>
                        </div>
                        <div class="inputForm file-select">
                            <input class="input pe-2" type="file" autocomplete="off" formControlName="imageUrl">
                        </div>
                        @if (imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)) {
                            <span class="form-alert">Campo requerido</span>
                        }
                    </div>
                </div>

                <div class="row row-cols-1  mt-3">
                    <div class="container-form">
                        <div class="flex-column black-text">
                            <label class="fw-medium mb-1">Descripción</label>
                        </div>
                        <div class="inputForm">
                            <i class="bi bi-info-circle-fill"></i>
                            <input placeholder="Ingresa la descripcion" class="input" type="text" autocomplete="off"
                                formControlName="descripcion">
                        </div>
                        @if (descripcion.invalid && (descripcion.dirty || descripcion.touched)) {
                            <span class="form-alert">Campo requerido</span>
                        }
                    </div>
                </div>

                <button type="submit" class="button-submit mt-2 mb-0">{{btnText}}</button>
            </form>
        </div>
    </div>
</section>