.edit{
    margin-bottom: 12px;
    min-height: 0;
    display: flex;
    flex-direction:column;
    flex-grow: 1;
}
.Bventas{
    flex-direction:row;
    display: flex;
    flex-shrink: 0;
    min-width: 0;
    max-width: 100%;
    box-sizing: border-box;
    overflow-anchor: none;
    z-index: 1;
    position: relative;
    min-height: inherit;
    width: 520px;
    margin-top: 10px;
    margin-left: 10px;
}
.edit{
    background-color: rgb(125, 173, 182);
    width: 360px;
    height: 90%;
    line-height: auto;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
}
.mat-form-field{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 2px;
}
.flabel{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    color:aliceblue;
}
button{
    margin-left: 15px;
}
.flabel1{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    color:aliceblue;
}
.vp{
    float: right;
    background-color: rgb(125, 173, 182);
    width: 810px;
    height: 627px;
    margin-right: 95px;
    margin-top: 10px;
}
.bpublicar{
    margin-top: 15px;
    align-self: center;
}