<div class="container-pattern">
    <div>
        <app-nav></app-nav>
    </div>

    <div aria-label="Barra superior de ventas" role="navigation" class="Bventas">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle routerLink="/venta-pinturas">Archivos en venta</mat-button-toggle>
          <mat-button-toggle routerLink="/info-pinturas">Crear o editar publicación</mat-button-toggle>
          <mat-button-toggle routerLink="/registroV-pinturas">Registro de ventas</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="edit">

        <div>
            <mat-label class="flabel1">Imagen a subir</mat-label>
            <br>
            <button><input type="file"></button>
        </div>

        <div class="mat-form-field">
            <mat-form-field [style.width.px]="327" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input  matInput placeholder="Placeholder">
              </mat-form-field>
        </div>

        <div class="mat-form-field">
            <mat-form-field [style.width.px]="327" appearance="fill">
                <mat-label>Precio</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
        </div>
        <div class="mat-form-field">
            <mat-form-field [style.width.px]="327" appearance="fill">
                <mat-label>Categoría</mat-label>
                <select matNativeControl required>
                    <option value="Fotografía">Fotografia</option>
                    <option value="Pintura">Pintura</option>
                    <option value="Diseño">Diseño</option>
                  </select>
              </mat-form-field>
        </div>
        <div class="mat-form-field">
            <mat-form-field [style.width.px]="327" appearance="fill">
                <mat-label>Estado</mat-label>
                <select matNativeControl required>
                    <option value="disponible">Disponible</option>
                    <option value="no-disponible">No disponible</option>
                  </select>
              </mat-form-field>
        </div>
        <div class="mat-form-field">
            <mat-accordion>
                <mat-expansion-panel  [style.width.px]="327">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Mas detalles </mat-panel-title>
                        <mat-panel-description>
                          Incluye más detalles      
                          <mat-icon>add_circle</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <input  [style.height.px]="150" matInput />
                      </mat-form-field>
                  
                      <mat-form-field>
                        <mat-label>Etiquetas de imagen</mat-label>
                        <input matInput/>
                      </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div>
            <button [style.width.px]="300" class="bpublicar" mat-fab extended>
                <mat-icon>favorite</mat-icon>
                Publicar
            </button>
        </div>
        
        <div class="flabel">
            <mat-label>
                Los artículos de Gallery Vibe son públicos, por lo que cualquier persona dentro o 
                fuera de la app puede verlos. Los artículos como animales, drogas, armas, falsificaciones
                y otros que infrinjan los derechos de propiedad intelectual no están permitidos en Gallery Vibe. 
            </mat-label>
        </div>

    </div>

    <div class="container-pattern vp">
        
    </div>

</div>