<section class="container-pattern">
    <div class="card bg-transparent border-0">
        <div class="card-body px-md-3 bg-transparent">
            <div class="content">
                <span class="title fs-6 fw-light font-spacebook">Confirmar Eliminación</span>
                <p class="message mt-3">
                    ¿Estás seguro de que quieres desactivar tu cuenta? Todos sus datos serán eliminados permanentemente. Esta acción no se puede deshacer.
                </p>
             </div>
              <div class="actions">
                <button class="button-submit button-error" type="button">
                    <i class="bi bi-trash3-fill"></i>
                </button>
             </div>
        </div>
    </div>
</section>