
<div class="container-pattern">
    <div>
        <app-nav></app-nav>
    </div>
    <div aria-label="Barra superior de ventas" role="navigation" class="Bventas">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle routerLink="/venta-pinturas">Archivos en venta</mat-button-toggle>
        <mat-button-toggle routerLink="/info-pinturas">Crear o editar publicación</mat-button-toggle>
        <mat-button-toggle routerLink="/registroV-pinturas">Registro de ventas</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="title">
        <h2>Colección de archivos en stock para ventas</h2>
    </div>
    <div class="container-pattern text-center">
        <div class="row">
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
        </div>            
    </div>
</div>
