
<div class="container-pattern">
    <div>
        <app-nav></app-nav>
    </div>
    <div aria-label="Barra superior de ventas" role="navigation" class="Bventas">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle routerLink="/venta-pinturas">Archivos en venta</mat-button-toggle>
        <mat-button-toggle routerLink="/info-pinturas">Crear o editar publicación</mat-button-toggle>
        <mat-button-toggle routerLink="/registroV-pinturas">Registro de ventas</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="title">
        <h2>Colección de archivos en stock para ventas</h2>
    </div>
    <div class="container-pattern text-center">
        <div class="row">
            <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Fotografía</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            El Shiba inu es la más pequeña de las seis razas de perro originales y 
                            distintas de Japón. Un perro pequeño y ágil que se enfrenta muy bien con 
                            terreno montañoso, el shiba inu fue criado originalmente por caza
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
           </div>
          <div class="col">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Lirio</mat-card-title>
                          <mat-card-subtitle>Pintura</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://i.pinimg.com/236x/10/9a/fc/109afcee6643a945619d487f69991d3d.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Planta herbácea, vivaz, de la familia de las iridáceas, 
                            con hojas radicales, erguidas, ensiformes, duras, envainadoras 
                            y de 30 a 40 centímetro(s) de largo, tallo central ramoso, de 50 a 60 centímetro(s)
                             de altura, flores terminales grandes, de seis pétalos azules o morados y a veces blancos, 
                             fruto capsular con muchas semillas, y rizoma rastrero y nudoso.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/info-pinturas">EDIT</button>
                          <button mat-button routerLink="/proceso-pinturas">UPLOAD</button>
                        </mat-card-actions>
                      </mat-card> 
                </div>
            </div>
        </div>           
    </div>
</div>
