<section class="container-pattern">
    <div class="card bg-transparent border-0">
        <div class="card-body px-md-3 bg-transparent">
            <div class="content">
                <span class="title fs-6 fw-light font-spacebook">Confirmar Eliminación</span>
                <p class="message mt-3">
                    ¿Estás seguro de que quieres eliminar su cuenta? Esta acción no se puede deshacer y lo eliminará del sistema inmediatamente.
                </p>
             </div>
              <div class="actions">
                <button class="button-submit button-error" type="button">
                    <i class="pi pi-user-edit"></i>
                </button>
             </div>
        </div>
    </div>
</section>